@theme {

	--color-white: #ffffff;

	--color-gray-50: #f9fafb;
	--color-gray-100: #f3f4f6;
	--color-gray-200: #e5e7eb;
	--color-gray-300: #d1d5db;
	--color-gray-400: #9ca3af;
	--color-gray-500: #6b7280;
	--color-gray-600: #4b5563;
	--color-gray-700: #374151;
	--color-gray-800: #1f2937;
	--color-gray-900: #111827;

	--color-red-50: #fef2f2;
	--color-red-100: #fee2e2;
	--color-red-200: #fecaca;
	--color-red-300: #fca5a5;
	--color-red-400: #f87171;
	--color-red-500: #ef4444;
	--color-red-600: #dc2626;
	--color-red-700: #b91c1c;
	--color-red-800: #991b1b;

	--color-green-100: #dcfce7;
	--color-green-200: #bbf7d0;
	--color-green-300: #86efac;
	--color-green-400: #4ade80;
	--color-green-500: #22c55e;
	--color-green-600: #16a34a;
	--color-green-700: #15803d;
	--color-green-800: #166534;

	--color-yellow-100: #fef9c3;
	--color-yellow-200: #fef08a;
	--color-yellow-300: #fde047;
	--color-yellow-400: #facc15;
	--color-yellow-500: #eab308;
	--color-yellow-600: #ca8a04;
	--color-yellow-700: #a16207;
	--color-yellow-800: #854d0e;

	--color-blue-50: #eff6ff;
	--color-blue-100: #eff6ff;
	--color-blue-200: #dbeafe;
	--color-blue-300: #93c5fd;
	--color-blue-400: #60a5fa;
	--color-blue-500: #3b82f6;
	--color-blue-600: #2563eb;
	--color-blue-700: #1d4ed8;
	--color-blue-800: #1e3a8a;

	--color-indigo-50: #eef2ff;
	--color-indigo-100: #e0e7ff;
	--color-indigo-200: #c7d2fe;
	--color-indigo-300: #a5b4fc;
	--color-indigo-400: #818cf8;
	--color-indigo-500: #6366f1;
	--color-indigo-600: #4f46e5;
	--color-indigo-700: #4338ca;
	--color-indigo-800: #3730a3;

	--color-black: #000000;
	
	--opacity-50: 0.5;
	--opacity-75: 0.75;

	--bg-opacity-75: rgba(255, 255, 255, 0.75);
	
}


.urbana-settings-page, .urbana-modal {
	p:not([class*="mb"]):not([class*="mt"]) {
       @apply m-0
    }

	h1:not([class*="mb"]):not([class*="mt"]),
    h2:not([class*="mb"]):not([class*="mt"]),
    h3:not([class*="mb"]):not([class*="mt"]),
    h4:not([class*="mb"]):not([class*="mt"]),
    h5:not([class*="mb"]):not([class*="mt"]),
    h6:not([class*="mb"]):not([class*="mt"]) {
        @apply m-0;
    }

	h1.flex, h2.flex, h3.flex, h4.flex, h5.flex, h6.flex {
		@apply flex;
	}

	.urbana-input {
		@apply w-full p-0 border-0 min-h-0 m-0 outline-0 focus:outline-0 focus:shadow-none font-normal bg-transparent !outline-solid placeholder:text-foreground-500 focus-visible:outline-solid outline-transparent data-[has-start-content=true]:ps-1.5 data-[has-end-content=true]:pe-1.5 data-[type=color]:rounded-none file:cursor-pointer file:bg-transparent file:border-0 autofill:bg-transparent bg-clip-text text-small  group-data-[has-value=true]:text-default-foreground;
	}
}
